//
// StitchCoreSDK.xcconfig
//

OTHER_LDFLAGS[sdk=iphoneos*] = -rpath $(PROJECT_DIR)/../libmongoc/lib
OTHER_LDFLAGS[sdk=iphonesimulator*] = -rpath $(PROJECT_DIR)/../libmongoc/lib

LIBRARY_SEARCH_PATHS[sdk=iphoneos*]        = $(PROJECT_DIR)/../libmongoc/lib
LIBRARY_SEARCH_PATHS[sdk=iphonesimulator*] = $(PROJECT_DIR)/../libmongoc/lib

SWIFT_INCLUDE_PATHS = $(PROJECT_DIR)/../libmongoc/libmongoc/ $(PROJECT_DIR)/../libmongoc/libbson/

ENABLE_BITCODE = NO

IPHONEOS_DEPLOYMENT_TARGET[sdk=iphoneos*]=8.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphonesimulator*]=8.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=appletvos*]=8.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=appletvsimulator*]=8.0
