[submodule "StitchCore/JSONWebToken.swift"]
	path = StitchCore/JSONWebToken.swift
	url = https://github.com/kylef/JSONWebToken.swift.git

[submodule "PromiseKit"]
	path = PromiseKit
	url = https://github.com/mxcl/PromiseKit
[submodule "StitchCore/Foundation"]
	path = StitchCore/Foundation
	url = https://github.com/PromiseKit/Foundation
