.DS_Store
docs
/.build
/Packages
/*.xcodeproj
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
MockUtils/Packages/
MockUtils/Package.pins
MockUtils/Package.resolved
MockUtils/.build/
MockUtils/*.xcodeproj/

StitchCoreSDK/Packages/
StitchCoreSDK/Package.pins
StitchCoreSDK/Package.resolved
StitchCoreSDK/.build/
StitchCoreSDK/*.xcodeproj/

StitchCoreAdminClient/Packages/
StitchCoreAdminClient/Package.pins
StitchCoreAdminClient/Package.resolved
StitchCoreAdminClient/.build/
StitchCoreAdminClient/*.xcodeproj/

StitchCoreTestUtils/Packages/
StitchCoreTestUtils/Package.pins
StitchCoreTestUtils/Package.resolved
StitchCoreTestUtils/.build/
StitchCoreTestUtils/*.xcodeproj/

StitchCoreAWSS3Service/Packages/
StitchCoreAWSS3Service/Package.pins
StitchCoreAWSS3Service/Package.resolved
StitchCoreAWSS3Service/.build/
StitchCoreAWSS3Service/StitchCoreAWSS3Service.xcodeproj/

StitchCoreAWSSESService/Packages/
StitchCoreAWSSESService/Package.pins
StitchCoreAWSSESService/Package.resolved
StitchCoreAWSSESService/.build/
StitchCoreAWSSESService/StitchCoreAWSSESService.xcodeproj/

StitchCoreHTTPService/Packages/
StitchCoreHTTPService/Package.pins
StitchCoreHTTPService/Package.resolved
StitchCoreHTTPService/.build/
StitchCoreHTTPService/StitchCoreHTTPService.xcodeproj/

StitchCoreRemoteMongoDBService/Packages/
StitchCoreRemoteMongoDBService/Package.pins
StitchCoreRemoteMongoDBService/Package.resolved
StitchCoreRemoteMongoDBService/.build/
StitchCoreRemoteMongoDBService/StitchCoreRemoteMongoDBService.xcodeproj/

StitchCoreTwilioService/Packages/
StitchCoreTwilioService/Package.pins
StitchCoreTwilioService/Package.resolved
StitchCoreTwilioService/.build/
StitchCoreTwilioService/StitchCoreTwilioService.xcodeproj/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
Extensions/PromiseKit/Stitch-PromiseKit/Pods/
LocalMongoDBService/Pods/
LocalMongoDBServiceExample/Pods/
StitchCore-iOS/Extensions/PromiseKit/Stitch-PromiseKit/Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

/MobileSDKs
/Sources
