MongoCore.xcodeproj/xcuserdata
MongoCore.xcodeproj/project.xcworkspace
MongoSDK.xcworkspace/xcuserdata
MongoCore/MongoCore.xcodeproj/xcuserdata
MongoExtendedJson/MongoExtendedJson.xcodeproj/xcuserdata
*/xcuserdata
MongoDB/MongoDB.xcodeproj/xcuserdata
MongoBaasSDKLogger/MongoBaasSDKLogger.xcodeproj/xcuserdata
