.DS_Store
/.build
/Packages
/xcuserdata

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

# Custom docs generation process
docs
.raw_docs.json
.raw_docs_merged.json

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
MockUtils/Packages/
MockUtils/Package.pins
MockUtils/Package.resolved
MockUtils/.build/

Core/StitchCoreSDK/Packages/
Core/StitchCoreSDK/Package.pins
Core/StitchCoreSDK/Package.resolved
Core/StitchCoreSDK/.build/

Core/StitchCoreAdminClient/Packages/
Core/StitchCoreAdminClient/Package.pins
Core/StitchCoreAdminClient/Package.resolved
Core/StitchCoreAdminClient/.build/

Core/StitchCoreTestUtils/Packages/
Core/StitchCoreTestUtils/Package.pins
Core/StitchCoreTestUtils/Package.resolved
Core/StitchCoreTestUtils/.build/

Core/Services/StitchCoreAWSService/Packages/
Core/Services/StitchCoreAWSService/Package.pins
Core/Services/StitchCoreAWSService/Package.resolved
Core/Services/StitchCoreAWSService/.build/

Core/Services/StitchCoreFCMService/Packages/
Core/Services/StitchCoreFCMService/Package.pins
Core/Services/StitchCoreFCMService/Package.resolved
Core/Services/StitchCoreFCMService/.build/

Core/Services/StitchCoreHTTPService/Packages/
Core/Services/StitchCoreHTTPService/Package.pins
Core/Services/StitchCoreHTTPService/Package.resolved
Core/Services/StitchCoreHTTPService/.build/

Core/Services/StitchCoreRemoteMongoDBService/Packages/
Core/Services/StitchCoreRemoteMongoDBService/Package.pins
Core/Services/StitchCoreRemoteMongoDBService/Package.resolved
Core/Services/StitchCoreRemoteMongoDBService/.build/

Core/Services/StitchCoreTwilioService/Packages/
Core/Services/StitchCoreTwilioService/Package.pins
Core/Services/StitchCoreTwilioService/Package.resolved
Core/Services/StitchCoreTwilioService/.build/

Core/Services/StitchCoreLocalMongoDBService/Packages/
Core/Services/StitchCoreLocalMongoDBService/Package.pins
Core/Services/StitchCoreLocalMongoDBService/Package.resolved
Core/Services/StitchCoreLocalMongoDBService/.build/

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
Extensions/PromiseKit/Stitch-PromiseKit/Pods/
LocalMongoDBService/Pods/
LocalMongoDBServiceExample/Pods/
StitchCore-iOS/Extensions/PromiseKit/Stitch-PromiseKit/Pods/
Pods/
# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

dist
vendor
CoverageData
localDerivedData
.vscode
*.pyc
*.xcconfig
