//
// StitchCore.xcconfig
//

PRODUCT_NAME = StitchCore
PRODUCT_NAME_ORIGINAL = $(PRODUCT_NAME) 

HEADER_SEARCH_PATHS = $(SRCROOT)/../Dependencies/includes
LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../Dependencies/lib" 

OTHER_LDFLAGS[arch=x86_64] = $(inherited) -L"$(SRCROOT)/../Dependencies/lib" -lbson-1.0-x86
OTHER_LDFLAGS[arch=arm*] = $(inherited) -L"$(SRCROOT)/../Dependencies/lib" -lbson-1.0-arm64

ENABLE_BITCODE = NO
