//
// StitchCoreAWSS3Service.xcconfig
//

OTHER_LDFLAGS[sdk=iphoneos*] = -rpath $(SRCROOT)/../../../libmongoc/lib
OTHER_LDFLAGS[sdk=iphonesimulator*] = -rpath $(SRCROOT)/../../../libmongoc/lib
OTHER_LDFLAGS[sdk=appletvos*] = -rpath $(SRCROOT)/../../../MobileSDKs/appletvos/lib
OTHER_LDFLAGS[sdk=appletvsimulator*] = -rpath $(SRCROOT)/../../../MobileSDKs/appletvos/lib
LIBRARY_SEARCH_PATHS[sdk=iphoneos*]        = $(SRCROOT)/../../../libmongoc/lib
LIBRARY_SEARCH_PATHS[sdk=iphonesimulator*] = $(SRCROOT)/../../../libmongoc/lib
LIBRARY_SEARCH_PATHS[sdk=appletvos*]       = $(SRCROOT)/../../../MobileSDKs/appletvos/lib
LIBRARY_SEARCH_PATHS[sdk=appletvsimulator*] = $(SRCROOT)/../../../MobileSDKs/appletvos/lib

SWIFT_INCLUDE_PATHS = $(SRCROOT)/../../../MobileSDKs/include $(SRCROOT)/../../../MobileSDKs/include/libbson-1.0 $(SRCROOT)/../../../MobileSDKs/include/libmongoc-1.0

ENABLE_BITCODE = NO

IPHONEOS_DEPLOYMENT_TARGET[sdk=iphoneos*]=8.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphonesimulator*]=8.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=appletvos*]=8.0
IPHONEOS_DEPLOYMENT_TARGET[sdk=appletvsimulator*]=8.0
