OTHER_LDFLAGS = -rpath $(SRCROOT)/../../vendor/MobileSDKs/iphoneos/lib
LIBRARY_SEARCH_PATHS = $(SRCROOT)/../../vendor/MobileSDKs/iphoneos/lib
SWIFT_INCLUDE_PATHS = $(SRCROOT)/../../vendor/MobileSDKs/include $(SRCROOT)/../../vendor/MobileSDKs/include/libbson-1.0 $(SRCROOT)/../../vendor/MobileSDKs/include/libmongoc-1.0
ENABLE_BITCODE = NO
IPHONEOS_DEPLOYMENT_TARGET=8.0
